#globe { 
    min-width: 500px;
    min-height: 500px;
}

.main-page {
    margin: 0 auto;
}

.welcome-window {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    font-weight: bold;
    color: #fff;

    opacity: 0;
    transform: translateY(0%);
    animation: loaded 2s forwards;

    height: 50%;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.welcome-title {
    color: #38b000;
}

.welcome-window-title {
    display: flex; 
    align-items: center;

    margin-bottom: 10px;
}

.welcome-window-description {
    text-align: left;  

    font-weight: normal;
    color: #6e6e6e;
    font-size: 16px;
    margin-bottom: 3%;
}

.welcome-online-status {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: normal;
}

.current-online {
    margin-right: 5px;
    font-weight: bold;
    color: #38b000;
}

.sphere-online-blink {
    background: rgba(56,172,5);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 2%;
    animation: blinker 1s linear infinite;
}

.main-placement {
    display: flex;
    justify-content: center;
}

.placement {
    color: white;
    border-radius: 5%;

    background-image: url(https://i.gifer.com/QAOA.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;

    animation: appear 1s forwards;
}

/* Chat window */
.chat-window {
    color: white;
    margin: 5% 29% 5% 29%;
    border-radius: 25px;
    background-color: #191919;

    display: flex;
    flex-direction: column;
    justify-content: center;

    animation: appear 2s forwards;
}

.chat-window-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
    padding: 20px;

    color: #606060;
}

.chat-title {
    display: flex;
    align-items: center;

    pointer-events: none;
}

.chat-notification-button {
    padding: 10px;
    background-color: #212121;
    cursor: pointer;

    color: #ffffff;

    font-size: 12px;

    font-weight: normal;

    display: flex;
    align-items: center;

    border-radius: 10px;
}

.enabled {
    box-shadow: inset 0 0 0 1px #38b000;
    background-color: #38b000;

    cursor: pointer;

    transition: all .3s ease-in-out;
}

.enabled:hover {
    background-color: #70e000;
    box-shadow: 0 0 25px 0 #70e000;
}

.chat-window-separator {
    height: 2px;
    background-color: #252525;
    width: 100%;
}

.chat-window-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messagebox:focus {
    outline: none;
}

.chat-message {
    display: flex;
    align-items: center;

    transform: translateX(-100%);
    opacity: 0;

    animation: messageAppear 0.7s forwards; 

    margin-bottom: 10px;
}

@keyframes messageAppear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

.chat-message-link {
    color: #38b000;
    font-size: 14px;

    font-weight: normal;

    padding: 0;

    transition: all 1s ease-out;
}

.attachment-item {
    padding: 20px 20px 0px 20px;
}

.attachment-item-img {
    max-width: 150px;
    max-height: 150px;
    
    border-radius: 20px;
}

.nsfw:hover {
    filter: blur(0px);
}

.chat-message-link:hover {
    color: #80ff00;
}

.chat-message-user-mention {
    color: currentColor;
    font-size: 14px;

    font-weight: normal;

    padding: 0;

    padding-left: 1px;
    padding-right: 1px;

    transition: all 1s ease-out;
}

.chat-message-user-mention:hover {
    color: #80ff00;
}

.chat-profile-pic {
    width: 32px;
    height: 32px;

    border-radius: 100%;
}

.chat-scroll-button {
    width: 28px;
    height: 28px;

    z-index: 10;

    position: sticky;
    top: 470px;
    left: 47%;

    padding: 10px;
    background-color: #212121;
    cursor: pointer;

    color: #ffffff;

    animation: scroll 1s forwards;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #38b000;

    border-radius: 50%;
}

.chat-window-denied {
    padding: 20px;
}

.chat-window-notifications {
    display: none;
    color: #414141;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.glow {
    box-shadow: inset 0 0 0 1px #38b000;
    background-color: #38b000;

    cursor: pointer;

    transition: all .3s ease-in-out;
}

.glow:hover {
    background-color: #70e000;
    box-shadow: 0 0 25px 0 #70e000;
}

.chat-window-input-send {
    letter-spacing: .1em;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;

    text-decoration: none;
    text-transform: uppercase;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    border-radius: 100%;
}
  
.effect01 {
    color: #fff;
    border: 4px solid #38b000;
    box-shadow: inset 0 0 0 1px #38b000;
    background-color: #38b000;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.effect01:hover {
    border: 4px solid #70e000;
    background-color: #70e000;
    box-shadow: 0 0 25px 0 #70e000;
}
  
.effect01 span {
    transition: all .2s ease-out;
    z-index: 2;
}
  
.effect01:hover span {
    letter-spacing: .13em;
    color: #fff;
}
  
.effect01:after {
    background: #70e000;
    border: 0 solid #70e000;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    z-index: 1;
}
  
.effect01:hover::after {
    background: #60c000;
    border: 20px solid #60c000;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;

    scroll-behavior: smooth;
}

.chat-window-messages {
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 500px;
    padding: 20px;

    position: relative;
}

.chat-nickname {
    padding: 0;

    padding-left: 5px;
    font-weight: bold;

    font-size: 14px;
}

.chat-message-text {
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;

    font-size: 14px;

    color: #808080;

    padding-left: 5px;
    margin: 0;
}

.chat-timestamp {
    display: flex;
    justify-content: center;

    font-size: 12px;

    color: #404040;
}

.messagebox {
    width: 80%;

    font-size: 14px;
    font-weight: normal;
    font-family: inherit;

    resize: none;

    height: 20px;

    padding: 15px;
    margin: 10px;

    margin-left: 0;

    color: white;

    background-color: #202020;
    border: none;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    border-radius: 0px 20px 20px 0px;
}

.attachment-button {
    width: 20px;
    height: 20px;

    padding: 15px;
    margin: 10px;

    margin-right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    background-color: #202020;
    border: none;

    border-radius: 20px 0px 0px 20px;
}

.attachment-icon path {
    transition: all 1s ease-out;
}

.attachment-icon path:hover {
    fill: #ffffff;
}

/* Посты дня */
.postsofday-window {
    display: flex;
    justify-content: center;

    margin-top: 5%;

    animation: appear 3s forwards;
}

.postsofday-title {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

@media screen and (max-width: 935px) {
    #globe { 
        display: none;
    }

    .chat-window {
        margin: 10% 0 0 0;
    }
}

@keyframes loaded {
    0% {
        transform: translateY(20%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0%); 
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        transform: translateY(10%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0%); 
        opacity: 1;
    }
}