.profile-container {
    background-color: #1D1D1D;

    border-radius: 10px;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 5px 15px 5px 10px;
    margin: 0 auto;

    margin-top: 10%;

    

    color: #FFFFFF;

    max-width: 600px;
    height: 320px;

    opacity: 0;
    transform: translateY(100%);
    animation: loaded 2s forwards;
}

.profile-post-edit {
    background-color: #1D1D1D;

    border-radius: 10px;

    background-size: 100% 70%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 5px 15px 5px 10px;
    margin: 0 auto;

    margin-top: 30px;

    color: #FFFFFF;

    max-width: 600px;
    height: 320px;

    opacity: 0;
    transform: translateY(100%);
    animation: loaded 2s forwards;
}

@keyframes loaded {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

.profile-pic {
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.profile-title {
    padding: 10px;

    padding-bottom: 0;

    display: flex;
    align-items: center;
}

.profile-name-title {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.profile-mood {
    padding: 5px;

    font-size: 14px;
    font-weight: bold;
    color: #424242;
}

.profile-separator {
    background-color: #262626;
    height: 1px;
    width: 70%;
}

.profile-followers-amount {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-size: 22px;
    font-weight: bold;
}

.followers-amount-block {
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.profile-country {
    width: 32px;
    height: 32px;
    padding: 3px;
}

.online-status {
    background: linear-gradient(90deg, #38ac05 0%, rgba(9,255,0,1) 100%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 5px;

    font-size: 14px;
    color: rgba(56,172,5);

    position: relative;
}

.online-status .online-tooltip {
    opacity: 0;
    width: 120px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    transition: all 0.5s ease-out;

    top: 130%;
    left: 50%;
    margin-left: -60px;
    
    position: absolute;
    z-index: 1;
}

.online-status .online-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #303030 transparent;
}

.online-status:hover .online-tooltip {
    opacity: 1;
}

.offline {
    background: linear-gradient(90deg, rgb(255, 54, 54) 0%, rgb(255, 0, 0) 100%);
}

.profile-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

    color: #505050;
    font-size: 32px;
}

.profile-message-container > .profile-message {
    margin-left: 30px;
}

.exist-icon {
    width: 192px;
    height: 192px;
}

.profile-ban-status {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

    background-color: #800000;

    padding: 5px;

    border-radius: 10px;

    color: #CC0000;

    text-shadow: #CC0000 0 0 10px;
    box-shadow: #CC0000 0 0 10px;

    opacity: 0.8;
}

.profile-followers-title {
    font-weight: bold;
    font-size: 14px;

    color: #7d7d7d;
}

.profile-follow-button {
    letter-spacing: .1em;
    cursor: pointer;
    font-size: 14px;

    width: 26px;
    height: 26px;

    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;

    border-radius: 10px;
}
  
.follow {
    color: #fff;
    border: 4px solid #38b000;
    box-shadow: inset 0 0 0 1px #38b000;
    background-color: #38b000;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.follow:hover {
    border: 4px solid #70e000;
    background-color: #70e000;
    box-shadow: 0 0 25px 0 #70e000;
}
  
.follow span {
    transition: all .2s ease-out;
    z-index: 2;
}
  
.follow:hover span {
    letter-spacing: .13em;
    color: #fff;
}
  
.follow:after {
    background: #70e000;
    border: 0 solid #70e000;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    z-index: 1;
}
  
.follow:hover::after {
    background: #60c000;
    border: 20px solid #60c000;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

.unfollow {
    color: #fff;
    border: 4px solid #b00000;
    box-shadow: inset 0 0 0 1px #b00000;
    background-color: #b00000;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.unfollow:hover {
    border: 4px solid #e00000;
    background-color: #e00000;
    box-shadow: 0 0 25px 0 #e00000;
}
  
.unfollow span {
    transition: all .2s ease-out;
    z-index: 2;
}
  
.unfollow:hover span {
    letter-spacing: .13em;
    color: #fff;
}
  
.unfollow:after {
    background: #e00000;
    border: 0 solid #e00000;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    z-index: 1;
}
  
.unfollow:hover::after {
    background: #c00000;
    border: 20px solid #c00000;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

@media screen and (max-width: 935px) {
    .exist-icon {
        width: 128px;
        height: 128px;
    }
}

.post-list-item {
    background-color: #1D1D1D;

    display: flex;
    flex-direction: column;

    padding: 15px;
    margin: 0 auto;

    margin-top: 30px;

    border-radius: 10px;
    color: #FFFFFF;

    max-width: 600px;

    opacity: 0;
    transform: translateY(100%);
    animation: postLoaded 2s forwards;
}

.post-profile-block {
    display: flex;
    align-items: center;

    margin: 10px;
}

.post-profile-name {
    padding-left: 5px;
    font-weight: bold;
}

.post-profile-text {
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.post-timestamp {
    color: #808080;
    padding-left: 5px;
    font-size: 12px;
}

.post-image {
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

@keyframes postLoaded {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}