.profile-container {
    background-color: #1D1D1D;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 5px 15px 5px 10px;
    margin: 0 auto;

    margin-top: 10%;

    border-radius: 10px;

    color: #FFFFFF;

    max-width: 600px;
    height: 250px;

    opacity: 0;
    transform: translateY(100%);
    animation: loaded 2s forwards;
}

@keyframes loaded {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

.profile-pic {
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.profile-title {
    padding: 10px;

    padding-bottom: 0;

    display: flex;
    align-items: center;
}

.profile-name-title {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.profile-mood {
    padding: 5px;

    font-size: 14px;
    font-weight: bold;
    color: #424242;
}

.profile-separator {
    background-color: #262626;
    height: 1px;
    width: 70%;
}

/*
    TODO: Закончить вёрстку страницы с профилем
*/

.profile-followers-amount {
    font-size: 18px;
    font-weight: bold;
}

.profile-follow-button {

}

.followers-amount-block {
    padding: 20px;
}

.profile-country {
    width: 32px;
    height: 32px;
    padding: 3px;
}

.online-status {
    background: linear-gradient(90deg, rgba(56,172,5,1) 0%, rgba(9,255,0,1) 100%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 5px;

    font-size: 14px;
    color: rgba(56,172,5);
}

.offline {
    background: linear-gradient(90deg, rgb(255, 54, 54) 0%, rgb(255, 0, 0) 100%);
}

.profile-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

    color: #505050;
    font-size: 32px;
}

.profile-message-container > .profile-message {
    margin-left: 30px;
}

.exist-icon {
    width: 192px;
    height: 192px;
}

@media screen and (max-width: 935px) {
    .exist-icon {
        width: 128px;
        height: 128px;
    }
}