.main-page {
    display: flex;
    justify-content: center;
}

.profiles-list {
    display: flex;
    flex-direction: column;

    width: 500px;

    max-width: 800px;
}

.profile-list-item {
    display: flex;

    margin-top: 50px;
}

.profile-list-username {
    font-size: 32px;
    color: white;
    font-weight: bold;

    padding: 0;

    transition: 0.5s ease-out;
}

.profile-list-username:hover {
    color: #38b000;
}

.profile-list-status {
    color: #424242;
}

.profile-block {
    display: flex;
    flex-direction: column;

    padding: 16px;

    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.profile-list-pic {
    width: 144px;
    height: 144px;

    border-radius: 50%;
}