.searchBox {
    background: #252525;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
  
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}
  
.searchBox:hover > .searchButton {
  color: #252525;
}
  
.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
  
.searchInput {
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border: 0px;
}

::placeholder {
    font-weight: bold;
    color: #4a4a4a;
}
  
@media screen and (max-width: 620px) {
  H1{
    font-size: 1rem;
    text-align: center;
  }
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }

  .searchBox:hover > .searchButton {
    display: none;
  }
}

button {
    background: none;
    border: 0px;
}

.button {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
  
.btn-join {
    letter-spacing: .1em;
    cursor: pointer;
    font-size: 14px;
    max-height: 14px;
    max-width: 100px;
    padding: 12px 20px 12px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
}
  
.effect01 {
    color: #fff;
    border: 4px solid #38b000;
    box-shadow: inset 0 0 0 1px #38b000;
    background-color: #38b000;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.effect01:hover {
    border: 4px solid #70e000;
    background-color: #70e000;
    box-shadow: 0 0 25px 0 #70e000;
}
  
.effect01 span {
    transition: all .2s ease-out;
    z-index: 2;
}
  
.effect01:hover span {
    letter-spacing: .13em;
    color: #fff;
}
  
.effect01:after {
    background: #70e000;
    border: 0 solid #70e000;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    z-index: 1;
}
  
.effect01:hover::after {
    background: #60c000;
    border: 20px solid #60c000;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

.square-rounded-icon {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    pointer-events: none;
}

.nick-glow {
    text-shadow: currentColor 0 0 10px;
}

.modal-overlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;

    width: 100%;
    max-width: 700px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(0.8, 0.8) translate(-65%, -65%);
    z-index: 30;

    color: #fff;

    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    border-radius: 10px;
    background-color: #171717;
    transition: 0.3s all;
}

.trasparent {
    background-color: transparent;
    box-shadow: none; 
}

.flex-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal__title {
    background-color: #202020;
    border-radius: 10px 10px 0 0;

    margin: 0;

    padding: 10px;
    margin-bottom: 10px;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 20px;
    fill: #444;
    cursor: pointer;
 }

.modal.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1) translate(-50%, -50%);
}
.modal-overlay.active{
   opacity: 1;
   visibility: visible;
}

.post-message-box {
    width: 80%;

    font-size: 14px;
    font-weight: normal;
    font-family: inherit;

    resize: none;
    
    height: 20px;

    padding: 15px;
    margin: 10px;

    margin-bottom: 0;

    color: white;

    background-color: #232323;
    border: none;

    text-align: left;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    border-radius: 20px 20px 0 0;
}

.post-message-box:focus {
    outline: none;
}

.posting-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 30px 0 30px 0;
}

.post-attachment {
    display: flex;
    align-items: center;

    width: 80%;

    font-size: 14px;
    font-weight: normal;
    font-family: inherit;

    resize: none;

    height: 20px;

    padding: 15px;

    color: white;

    background-color: #232323;
    border: none;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    border-radius: 0 0 20px 20px;
}

.stats-block {
  display: flex;
  align-items: center;
}

.stats-row {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.stats-title {
  font-weight: bold;
}

.pic-preview {
    width: 80%;
    height: 80%;

    border-radius: 10px;
}

.pic-preview-link {

}

@media screen and (max-width: 935px) {
  .pic-preview {
      width: 60%;
      height: 60%;
  
      border-radius: 10px;
  }
}

.bubbly-button
{
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #38b000;
  color: #FFFFFF;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgb(45, 141, 1, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, #38b000 20%, transparent 30%),
    radial-gradient(circle, #38b000 20%, transparent 20%), 
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #38b000 15%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, #38b000 20%, transparent 20%), 
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #38b000 15%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%),
    radial-gradient(circle, #38b000 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken(#38b000, 5%);
    box-shadow: 0 2px 25px rgb(45, 141, 1, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}